[Unit]
Description=Mail queueing daemon
After=NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=dbus
BusName=com.github.dcbaker.mailqueued.Message
ExecStart=/usr/bin/mailqueued

[Install]
WantedBy=multi-user.target
