[Unit]
Description=Mail queueing daemon

[Service]
Type=dbus
BusName=com.github.dcbaker.mailqueued1.Message
ExecStart=/usr/bin/mailqueued

[Install]
WantedBy=multi-user.target
